.settings {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.setting_header {
    display: flex;
    justify-content: space-between;
}

.slider_values {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
}

.saved_notification {
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 3px;
    background-color: var(--colorPaletteGreenForeground1);
    text-align: center;
    font-weight: 600;
}