.navbar {
    padding: 10px 5vw;
    display: flex;
    align-items: center;
}

.service_icon {
    border-radius: 50%;
}

.profile_preview {
    margin-right: auto;
}

.titles {
    display: flex;
    gap: 10px;
}